# Data Analysis

In [31]:
import pandas as pd
import re

with open('../german-credit-dataset/german.data', 'r') as infile:
    data_contents = infile.read()    
    data_contents = re.sub(r' ', ",", data_contents)

    with open('../german-credit-dataset/german.csv', 'w') as outfile:
        outfile.write(data_contents)

data = pd.read_csv('../german-credit-dataset/german.csv')

for i in range(20):
    print(data.iloc[:, i].value_counts())

A14    394
A11    273
A12    269
A13     63
Name: A11, dtype: int64
24    184
12    179
18    113
36     83
6      74
15     64
9      49
48     48
30     40
21     30
10     28
27     13
60     13
42     11
11      9
20      8
8       7
4       6
39      5
45      5
7       5
14      4
13      4
33      3
28      3
22      2
16      2
54      2
26      1
40      1
47      1
5       1
72      1
Name: 6, dtype: int64
A32    530
A34    292
A33     88
A31     49
A30     40
Name: A34, dtype: int64
A43     279
A40     234
A42     181
A41     103
A49      97
A46      50
A45      22
A44      12
A410     12
A48       9
Name: A43, dtype: int64
1393    3
1262    3
1478    3
1275    3
1258    3
       ..
1346    1
1345    1
1343    1
7485    1
2051    1
Name: 1169, Length: 921, dtype: int64
A61    603
A65    182
A62    103
A63     63
A64     48
Name: A65, dtype: int64
A73    339
A75    252
A74    174
A72    172
A71     62
Name: A75, dtype: int64
4    475
2    231
3    157
1    136
Name: 4, dtype: int64
A93    547
A92    310
A94     92
A91     50
Name: A93, dtype: int64
A101    906
A103     52
A102     41
Name: A101, dtype: int64
4    412
2    308
3    149
1    130
Name: 4.1, dtype: int64
A123    332
A121    281
A122    232
A124    154
Name: A121, dtype: int64
27    51
26    50
23    48
24    44
28    43
25    41
35    40
30    40
36    39
31    38
29    37
32    34
33    33
34    32
37    29
22    27
40    25
38    24
42    22
39    21
46    18
41    17
43    17
44    17
47    17
45    15
21    14
49    14
20    14
48    12
50    12
54    10
52     9
57     9
55     8
51     8
63     8
53     7
61     7
60     6
64     5
65     5
66     5
58     5
74     4
59     3
68     3
56     3
75     2
62     2
67     2
19     2
70     1
Name: 67, dtype: int64
A143    813
A141    139
A142     47
Name: A143, dtype: int64
A152    712
A151    179
A153    108
Name: A152, dtype: int64
1    633
2    332
3     28
4      6
Name: 2, dtype: int64
A173    629
A172    200
A174    148
A171     22
Name: A173, dtype: int64
1    844
2    155
Name: 1, dtype: int64
A191    596
A192    403
Name: A192, dtype: int64
A201    962
A202     37
Name: A201, dtype: int64